[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"

[requires]
python_version = "3.8"

[scripts]
build = "python setup.py sdist bdist_wheel"
publish = "twine upload --skip-existing dist/*"