[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"

[dev-packages]
"autopep8" = "*"
setuptools = "*"
wheel = "*"
twine = "*"

[requires]
python_version = "3.7"

[scripts]
build = "python setup.py sdist bdist_wheel"
publish = "twine upload --skip-existing dist/*"