{% extends 'bulma/base.html' %} 
{% load cancan_tags %}

{% block title %}Your projects{% endblock %} 

{% block content %}
--->{{ abilities }}<---
<h1>Your projects</h1>
<ul style="display: flex; flex-wrap: wrap">
  {% for project in object_list %}
  <li style="width: 25%; padding: 10px">
    <div class="card">
      <header class="card-header">
        <a href="/projects/{{project.id}}" class="card-header-title">{{project.name}}</a>
      </header>    
      <div class="card-content">
        <div class="content">
          {{project.description}}
        </div>
      </div>
    </div>
  </li>
  {% endfor %}

  {% can "add" "core.Project" as is_allowed %}
  {% for x in abilities|can:"view"|subject:"core.Project" %}
  x
  {% endfor %}

  {% if abilities|can:"view"|subject:"core.Project" %}
  <li style="width: 25%; padding: 10px">
      <a href="/projects/new/" class="button is-primary">Create new project</a>
  </li>
  {% endif %}
</ul>
{% endblock content %}